.cardapioSection {
  padding: 2rem;
  background: url("../assets/pizzaFundo.png") no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
}


.filtros {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.filtros button {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  background-color: #e63946;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
}


.paginacao {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 0.5rem;
}

.paginacao button {
  background-color: #fff;
  border: 1px solid #e63946;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

.paginacao button:hover {
  background-color: #e63946;
}

.paginacao .ativo {
  background-color: #1d3557;
  color: white;
  border-color: #1d3557;
}


.filtros button:hover {
  background-color: #d62828;
}

.filtros .ativo {
  background-color: #1d3557;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}
