.dashboardContainer {
  display: flex;
  height: 100vh;
  background-color: #121212; 
  color: white;
}

.mainContent {
  flex: 1;
  padding: 2rem; 
  overflow-y: auto;
}

.mainContent h1 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem; 
}

.pedidosCard {
  background-color: #0d0d0d; 
  border-radius: 10px; 
  padding: 2rem; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); 
}