.sidebar {
  width: 250px;
  background-color: #0f0f0f;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #1e1e1e;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: white;
  display: flex;
  flex-direction: column; /* Para "PIZZARIA" ficar abaixo */
  align-items: flex-start; /* Alinhar o texto à esquerda */
}

.logo span {
  color: #ff3c00;
}

.logoPizzeria {
  font-size: 0.8rem; /* Tamanho menor para "PIZZARIA" */
  opacity: 0.7; /* Mais transparente */
  margin-top: 5px; /* Espaçamento do texto principal */
}

nav ul {
  list-style: none;
  padding: 0;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Para empurrar a seta para a direita */
  gap: 10px;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  transition: background 0.2s;
}

.menuItem:hover {
  background-color: #1f1f1f;
}

/* Estilo para o item ativo/selecionado (ex: Dashboard) */
.menuItem.active {
  background-color: #1f1f1f; /* Cor de fundo mais clara */
  /* Você pode adicionar outras propriedades, como border-left para uma barra */
  /* border-left: 3px solid #ff3c00; */
}


.menuItemContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuArrow {
  font-size: 0.8rem;
  color: #999; /* Cor cinza para as setas */
}

/* Estilo para a linha de separação */
.separator {
  height: 1px;
  background-color: #333; /* Cor da linha */
  margin: 1rem 0; /* Espaçamento acima e abaixo */
  list-style: none; /* Remover marcadores de lista */
  padding: 0; /* Remover padding */
}