.sidebar {
  width: 250px;
  background-color: #0f0f0f;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #1e1e1e;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: white;
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.logo span {
  color: #ff3c00;
}

.logoPizzeria {
  font-size: 0.8rem; 
  opacity: 0.7; 
  margin-top: 5px; 
}

nav ul {
  list-style: none;
  padding: 0;
}

.menuItem {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 10px;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border-radius: 8px;
  color: white;
  transition: background 0.2s;
}

.menuItem:hover {
  background-color: #1f1f1f;
}

.menuItem.active {
  background-color: #1f1f1f; 
}


.menuItemContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuArrow {
  font-size: 0.8rem;
  color: #999; 
}


.separator {
  height: 1px;
  background-color: #333;
  margin: 1rem 0;
  list-style: none; 
  padding: 0; 
}