.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  
  background-color: #0d0d0d; 
  color: #cccccc; 
}

.table th,
.table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #181818;
  font-size: 0.95rem;
  color: #e0e0e0; 
}


.table tbody tr:last-child td {
  border-bottom: none;
}


.table tr:hover {
  background-color: #1f1f1f; 
}

.numeroIndicator {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #ff9100; 
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 2px;
}

.entregando {
  background-color: #00b87c;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}

.preparando {
  background-color: #b88d00;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}

.cancelado {
  background-color: #a83333;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}